:root{
    --purple : #C55FFC;
}

button{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #C55FFC;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
}

button#Account-Button:hover {
    background-color: #000000;
    color: #C55FFC
  }